@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {
  --FontFamily_Oxygen: 'Oxygen', sans-serif;
  --FontFamily_NeoGramExtended: 'NeoGramExtended', sans-serif;
  --mainColor: #6687ba;
  --secondaryColor: #162238;
  --darkgreenColor: #0D210C;

  --whiteColor: #ffffff;
  --blackColor: #000000;
  --blackColor1: #38383c;
  --pragraphColor: #505050;
  --orangeColor: #ED5500;
  --redColor: #DE001B;

  --Color1: #F3F3F3;
  --Color2: #727B92;
}

.FontFamilyFigtree {
  font-family: var(--FontFamily_Oxygen);
}

.mainText {
  color: var(--mainColor);
}

.mainBG {
  background-color: var(--mainColor);
}

.secondaryText {
  color: var(--secondaryColor) !important;
}

.secondaryBG {
  background-color: var(--secondaryColor);
}

.whiteText {
  color: var(--whiteColor) !important;
}

.whiteBG {
  background-color: var(--whiteColor) !important;
}

.blackText {
  color: var(--blackColor);
}

.blackBG {
  background-color: var(--blackColor);
}

.blackText1 {
  color: var(--blackColor1);
}

.blackBG1 {
  background-color: var(--blackColor1);
}

.pragraphText {
  color: var(--pragraphColor);
}

.pragraphBG {
  background-color: var(--pragraphColor);
}

.darkgreenText {
  color: var(--darkgreenColor);
}

.darkgreenBG {
  background-color: var(--darkgreenColor);
}

.orangeText {
  color: var(--orangeColor) !important;
}

.orangeBG {
  background-color: var(--orangeColor) !important;
}

.redText {
  color: var(--redColor) !important;
}

.redBG {
  background-color: var(--redColor) !important;
}

.color1Text {
  color: var(--Color1);
}

.color1BG {
  background-color: var(--Color1);
}

.color2Text {
  color: var(--Color2);
}

.color2BG {
  background-color: var(--Color2);
}

.dropShadow {
  -webkit-box-shadow: 0px 6px 52.7px 0px rgba(22, 34, 56, 0.25);
  -moz-box-shadow: 0px 6px 52.7px 0px rgba(22, 34, 56, 0.25);
  box-shadow: 0px 6px 52.7px 0px rgba(22, 34, 56, 0.25);
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: var(--FontFamily_Oxygen);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  -webkit-font-smoothing: antialiased;
  /* WebKit  */
}

body {
  margin: 0;
  color: var(--pragraphColor);
  font-family: var(--FontFamily_Oxygen);
  line-height: 28px;
  font-size: 16px;
  overflow: overlay;
  /* min-height: 100vh; */
}

::selection {
  background: transparent;
  color: var(--mainColor);
}

p {
  padding: 0;
  font-family: var(--FontFamily_Oxygen);
  font-size: 16px;
  color: var(--pragraphColor);
}

@media(max-width:991px) {
  p {
    font-size: 14px;
  }
}

a {
  transition: all .6s ease;
  font-family: var(--FontFamily_Oxygen);
  text-decoration: none;
}

// ======****header****======
.header {
  background-color: var(--blackColor1);

  .navbar {
    .nav-link {
      color: var(--whiteColor);
      text-transform: uppercase;
      font-size: 12px;
      padding: 0px 15px;
      font-weight: 400;
      position: relative;

      &:hover,
      &:focus {
        color: var(--whiteColor);

        &::after {
          width: 60%;
        }
      }

      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 15px;
        right: 0;
        background-color: var(--whiteColor);
        width: 0;
        transition: all .6s ease;
        height: 2px;
        border-radius: 4px;
      }
    }
  }
}

// 
h1.mainTitle {
  font-size: 48px;
  line-height: 58px;
  font-weight: 300;
  letter-spacing: 2px;
}

@media(max-width:991px) {
  .mainTitle {
    font-size: 30px !important;
    line-height: normal !important;
  }
}

@media(max-width:768px) {
  .mainTitle {
    font-size: 26px !important;
  }
}

// 
h5.ComTitle {
  font-size: 62px;
  line-height: normal;
  font-family: var(--FontFamily_NeoGramExtended);
  font-weight: bold;
  color: var(--secondaryColor);
}

@media(max-width:991px) {
  h5.ComTitle {
    font-size: 30px !important;
    line-height: normal !important;
  }
}

@media(max-width:768px) {
  h5.ComTitle {
    font-size: 26px !important;
  }
}

.tag {
  padding: 8px 16px;
  border-radius: 100px;
  margin-bottom: 25px;
  border: 1px solid var(--Color2);
  background-color: var(--whiteColor);
  display: inline-block;
}

.text-slider {
  p {
    font-size: 30px;
    line-height: 40px;
    color: var(--secondaryColor);
  }
}

@media (max-width:991px) {
  .text-slider {
    p {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

// ======****.modal****======
.modal {
  .modal-header {
    border-bottom: none;
  }

  .modal-content {
    border: navajowhite;
    border-radius: 0;
  }

  .contentModol {
    .infotext {
      font-size: 20px;
      color: var(--pragraphColor);
      font-weight: 500;
      text-decoration: none;
      color: var(--blackColor1);
    }
  }
}

// ======****.modal****======
.investmentsUL {
  h4.topTile {
    font-size: 30px;
    color: var(--pragraphColor);
    font-weight: 500;
    text-decoration: none;
    color: var(--blackColor1);
  }

  .boxesUL {
    h5.nextTitle {
      font-weight: bold;
      font-size: 16px;
      transition: all .6s ease;
      color: var(--blackColor1);
    }

    .linkBox {
      transition: all .6s ease;
      border: solid 1px var(--Color1);
      border-radius: 10px;
      background-color: var(--whiteColor);

      &:hover {
        background-color: #f7f7f7;

        h5.nextTitle {
          color: var(--mainColor);
        }
      }
    }
  }
}

// 
.footer {
  h6.fTitle {
    font-size: 24px;
    font-weight: 400;
    color: var(--blackColor1);

    .linkF {
      font-size: 24px;
      font-weight: 400;
      color: #a8a6a1;
      text-decoration: underline !important;
    }
  }
}

// 
@font-face {
  font-family: "NeoGram Extended W00 Bold";
  src: url("./font/fbf651dfb6f1b93c7b3b603032ea0438.eot");
  src: url("./font/fbf651dfb6f1b93c7b3b603032ea0438.woff")format("woff"),
    url("./font/fbf651dfb6f1b93c7b3b603032ea0438.woff2")format("woff2"),
    url("./font/fbf651dfb6f1b93c7b3b603032ea0438.ttf")format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/*-----------------------webkit-scrollbar----------------------*/

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  border-radius: 10px;
  background-color: transparent;
  border-left: 0 solid transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--mainColor);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mainColor);
  opacity: 1;
}
